
body {
    background-color: lightblue;
}

.container {
    justify-content: center;
    display: flex;
    margin-top: 200px;
    height: 250px;
}

.trafficBox {
    border: 1px solid black;
    border-radius: 0%;
    position: absolute;
    background-color: white;
    
}

.trafficBox div {
    border: 3px solid black;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin: 3px;
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green {
    background-color: green;
}
.shine {
    box-shadow: 2px 4px 40px 25px #130000;
}

.buttonGroup {
    margin: inherit;
    padding: 30px;
    opacity: 0.6; 
}

.buttonGroup button {
    border-radius: 5%;
    margin: 6px;
    height: 45px;
    border: 1px solid black;
    background-color: rgb(40, 116, 5);
    color:white;
    
    
}

.purple {
    background-color: rgb(241, 7, 241);
    box-shadow: 2px 4px 40px 25px rgb(68, 1, 68);
}